@using Newtonsoft.Json.Linq;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DigitalBankManagement</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Digital Bank</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="text-end col">
			<span class="text-white me-2" style="font-size:1rem">Welcome, @Context.Request.Cookies["firstName"]</span>
			<a class="btn btn-warning me-2" asp-route="Logout">Sign out</a>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3">
					@{
						string partial = "";
						switch (Context.Request.Cookies["role"])
						{
							case "admin":
								partial = "AdminMenu";
								break;
							case "manager":
								partial = "ManagerMenu";
								break;
							case "user":
								partial = "UserMenu";
								break;
						}
					}
					<partial name="@partial" />
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>User</span>
						<a class="link-secondary">
							<span data-feather="user" aria-current="page" href="#"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" asp-route="Logout" aria-label="Sign out">
								<span data-feather="log-out"></span>
								Logout
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-3">
		<partial name="_MessagePartial" />
		@RenderBody()
	</main>

	@*Modal for create account*@
	<div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="createAccountModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form class="modal-content" asp-route="CreateAccount">
				<div class="modal-header">
					<h5 class="modal-title" id="createAccountModalLabel">Fill details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<select name="type" id="type" class="form-select">
						<option value="0" selected>Savings</option>
						<option value="1">FD</option>
						<option value="2">RD</option>
					</select>
					<div id="initialDeposit" class="form-floating mt-3">
						<input type="number" min="1" name="initialDeposit" class="form-control" placeholder="Initial Deposit" />
						<label class="control-label">Initial Deposit</label>
					</div>
					<div id="monthlyDeposit" class="form-floating mt-3">
						<input type="number" min="1" name="monthlyDeposit" class="form-control" placeholder="Monthly Deposit" />
						<label class="control-label">Monthly Deposit</label>
					</div>
					<div id="duration" class="form-floating mt-3">
						<input type="number" min="1" name="duration" class="form-control" placeholder="Duration (years)" />
						<label class="control-label">Duration (years)</label>
					</div>
					<div id="debitFrom" class="form-floating mt-3">
						<select name="debitFrom" class="form-select">
						</select>
						<label class="form-label">Account ID to debit money from</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>

	@*Modal for view statement*@
	<div class="modal fade" id="viewStatementModel" tabindex="-1" aria-labelledby="viewStatementModelLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form class="modal-content" asp-route="GetStatement" method="get">
				<div class="modal-header">
					<h5 class="modal-title" id="viewStatementModelLabel">Select Account Number</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="accountId" class="form-floating mt-3">
						<select name="accountId" class="form-select">
						</select>
						<label class="form-label">Account Number</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">View Statement</button>
				</div>
			</form>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
	<script>
		feather.replace({ 'aria-hidden': 'true' });

		// update fields according to selected account type
		$("#type").change(function () {
			if (this.value == "0") { // savings
				$("#initialDeposit").hide();
				$("#monthlyDeposit").hide();
				$("#duration").hide();
				$("#debitFrom").hide();
			} else if (this.value == "1") { // fd
				$("#initialDeposit").show();
				$("#monthlyDeposit").hide();
				$("#duration").show();
				$("#debitFrom").show();
			} else if (this.value == "2") { // rd
				$("#initialDeposit").hide();
				$("#monthlyDeposit").show();
				$("#duration").show();
				$("#debitFrom").show();
			}
		});

		$("#type").change(); // manually trigger change method for initial value

		// load account ids and populate 'select' values
		modals = ["debitFrom", "accountId"];
		accountIdOptions = [];
		sessionId = ('; ' + document.cookie).split(`; sessionId=`).pop().split(';')[0];
		$.ajax({
			url: "/api/Account",
			type: "GET",
			headers: {
				"sessionId": sessionId,
			},
			success: function(result) {
				savings = result.savings;
				for(i in savings) {
					accountIdOptions[accountIdOptions.length] = ('<option value="' + savings[i].id + '">' + savings[i].id + '</option>');
				}
				accountIdOptions = accountIdOptions.join('');
				for (i in modals) {
					$(`select[name=${modals[i]}]`).empty().append(accountIdOptions);
				}
			}
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
