<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DigitalBankManagement</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="d-flex h-100 flex-column">
	<header class="bg-dark text-white sticky-top p-0 shadow">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" 
				style="padding-top:0.75rem;padding-bottom:0.75rem;font-size:1rem;"
				class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none px-3">
				Digital Bank
			</a>

			<div class="text-end col">
				<a class="btn btn-outline-light me-2" asp-route="login">Sign in</a>
				<a class="btn btn-warning me-2" asp-route="Register">Sign up</a>
			</div>
		</div>
	</header>
	@{
		ViewData["Title"] = "Register";
		string? errorMessage = (string?)ViewData["errorMessage"];
		if (errorMessage != null)
		{
			<div id="errorMessage" class="alert alert-danger alert-dismissible">
				@errorMessage
				<button type="button" class="btn-close" onclick="document.getElementById('errorMessage').remove()"></button>
			</div>
		}
		string? successMessage = (string?)ViewData["successMessage"];
		if (successMessage != null)
		{
			<div id="errorMessage" class="alert alert-danger alert-dismissible">
				@successMessage
				<button type="button" class="btn-close" onclick="document.getElementById('successMessage').remove()"></button>
			</div>
		}
	}
	<main role="main" class="d-flex h-100 row m-0">
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
