@{
	ViewData["Title"] = "Index";
}

<div class="row text-center bg-dark text-white m-0">
	<div class="my-auto">
		<h1>Digital Bank</h1>
		<p class="lead"><a class="text-decoration-none" asp-route="Login">Login</a> or <a class="text-decoration-none" asp-route="Register">register</a> to continue</p>
		<p class="lead">Or use the <a class="text-decoration-none" asp-route="ATM">ATM simulator</a></p>
	</div>
</div>