@{
    ViewData["Title"] = "Index";
}

<div class="m-auto text-center">
    <h1>Digital Bank</h1>
    <p class="lead"><a class="text-decoration-none" asp-route="Login">Login</a> or <a class="text-decoration-none" asp-route="Register">register</a> to continue</p>
</div>